<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<!-- BARRA LATERAL PARA EL ADMINISTRADOR -->

<ul th:fragment="_sidebar(user_type)" th:if="${user_type} == '_admin'"
	class="navbar-nav bg-gradient-primary sidebar sidebar-dark accordion"
	id="accordionSidebar">
	<!-- Sidebar - Brand -->
	<li class="nav-item"><a
		class="sidebar-brand d-flex align-items-center justify-content-center"
		th:href="@{/admin/main}">
			<div class="sidebar-brand-icon rotate-n-15">
				<i class="far fa-calendar-alt" style="font-size: 36px"></i>
			</div>
			<div class="sidebar-brand-text mx-3">
				Sesión de <sup>Administrador</sup>
			</div>
	</a></li>
	<hr class="sidebar-divider my-0">
	<!-- Nav Item - Dashboard -->
	<!-- 	<li class="nav-item"><a class="nav-link" -->
	<!-- 		th:href="@{/admin/microcurriculos/}"> <i -->
	<!-- 			class="fas fa-fw fa-tachometer-alt"></i> <span>Microcurrículos</span> -->
	<!-- 	</a></li> -->

	<!-- Nav Item - Utilities Collapse Menu -->
	<li class="nav-item"><a class="nav-link collapsed" href="#"
		data-toggle="collapse" data-target="#collapseUtilities"
		aria-expanded="true" aria-controls="collapseUtilities"> <i
			class="fas fa-fw fa-wrench"></i> <span>Microcurrículos </span>
	</a>
		<div id="collapseUtilities" class="collapse"
			aria-labelledby="headingUtilities" data-parent="#accordionSidebar">
			<div class="bg-white py-2 collapse-inner rounded">
				<h6 class="collapse-header">Gestionar microcurrículos</h6>
				<a class="collapse-item" th:href="@{/admin/microcurriculos/}">Listado</a>
				<a class="collapse-item" th:href="@{/admin/microcurriculos/nuevo}">Agregar</a>
				</a>
			</div>
		</div></li>

	<li class="nav-item"><a class="nav-link"
		th:href="@{/admin/materias/}"> <i
			class="fas fa-fw fa-tachometer-alt"></i> <span>Materias</span>
	</a></li>
	<!-- Divider -->
	<hr class="sidebar-divider">
	<!-- Heading -->
	<div class="sidebar-heading">Gestión</div>
	<li class="nav-item"><a class="nav-link"
		th:href="@{/admin/solicitudes}"> <i
			class="fas fa-fw fa-tachometer-alt"></i> <span>Solicitudes</span>
	</a></li>
	
	<li class="nav-item"><a class="nav-link"
		th:href="@{/admin/planeadores/lista}"> <i
			class="fas fa-fw fa-tachometer-alt"></i> <span>Planeadores</span>
	</a></li>

	<!-- Divider -->
	<hr class="sidebar-divider">
	<!-- Heading -->
<!-- 	<div class="sidebar-heading">Addons</div> -->
	<!-- Nav Item - Pages Collapse Menu -->
<!-- 	<li class="nav-item"><a class="nav-link collapsed" href="#" -->
<!-- 		data-toggle="collapse" data-target="#collapsePages" -->
<!-- 		aria-expanded="true" aria-controls="collapsePages"> <i -->
<!-- 			class="fas fa-fw fa-folder"></i> <span>Pages </span> -->
<!-- 	</a> -->
<!-- 		<div id="collapsePages" class="collapse" -->
<!-- 			aria-labelledby="headingPages" data-parent="#accordionSidebar"> -->
<!-- 			<div class="bg-white py-2 collapse-inner rounded"> -->
<!-- 				<h6 class="collapse-header">Login Screens:</h6> -->
<!-- 				<a class="collapse-item" href="login.html">Login </a> <a -->
<!-- 					class="collapse-item" href="register.html">Register </a> <a -->
<!-- 					class="collapse-item" href="forgot-password.html">Forgot -->
<!-- 					Password </a> -->
<!-- 				<div class="collapse-divider"></div> -->
<!-- 				<h6 class="collapse-header">Other Pages:</h6> -->
<!-- 				<a class="collapse-item" href="404.html">404 Page </a> <a -->
<!-- 					class="collapse-item" href="blank.html">Blank Page </a> -->
<!-- 			</div> -->
<!-- 		</div></li> -->
	<!-- Nav Item - Charts -->
<!-- 	<li class="nav-item"><a class="nav-link" href="charts.html"> <i -->
<!-- 			class="fas fa-fw fa-chart-area"></i> <span>Charts </span> -->
<!-- 	</a></li> -->
	<!-- Divider -->
<!-- 	<hr class="sidebar-divider d-none d-md-block"> -->
	<!-- Sidebar Toggler (Sidebar) -->
<!-- 	<div class="text-center d-none d-md-inline"> -->
<!-- 		<button class="rounded-circle border-0" id="sidebarToggle"></button> -->
<!-- 	</div> -->
</ul>

<!-- FIN BARRA LATERAL PARA EL ADMINISTRADOR -->

<!-- BARRA LATERAL PARA EL DOCENTE -->

<ul th:fragment="_sidebar(user_type)" th:if="${user_type} == '_docente'"
	class="navbar-nav bg-gradient-primary sidebar sidebar-dark accordion"
	id="accordionSidebar">
	<!-- Sidebar - Brand -->
	<li class="nav-item"><a
		class="sidebar-brand d-flex align-items-center justify-content-center"
		th:href="@{/docente}">
			<div class="sidebar-brand-icon rotate-n-15">
				<i class="fas fa-laugh-wink"></i>
			</div>
			<div class="sidebar-brand-text mx-3">
				Sesión de <sup>Docente</sup>
			</div>
	</a></li>
	<hr class="sidebar-divider my-0">
	<!-- Nav Item - Dashboard -->

	<!-- Nav Item - Utilities Collapse Menu -->
	<li class="nav-item"><a class="nav-link collapsed" href="#"
		data-toggle="collapse" data-target="#collapseUtilities"
		aria-expanded="true" aria-controls="collapseUtilities"> <i
			class="fas fa-fw fa-wrench"></i> <span>Planeadores</span>
	</a>
		<div id="collapseUtilities" class="collapse"
			aria-labelledby="headingUtilities" data-parent="#accordionSidebar">
			<div class="bg-white py-2 collapse-inner rounded">
				<h6 class="collapse-header">Gestionar planeadores</h6>
				<a class="collapse-item" th:href="@{/docente/planeadores/}">Listado</a>
				<a class="collapse-item" th:href="@{/docente/planeadores/nuevo}">Agregar</a>
			</div>
		</div></li>
		
	<li class="nav-item"><a class="nav-link"
		th:href="@{/docente/planeadores/}"> <i
			class="fas fa-fw fa-tachometer-alt"></i> <span>Instrumentos</span>
	</a></li>
	<!-- Divider -->
<!-- 	<hr class="sidebar-divider"> -->
	<!-- Heading -->
<!-- 	<div class="sidebar-heading">Un Placeholder</div> -->
	<!-- Nav Item - Pages Collapse Menu -->

	<!-- Nav Item - Utilities Collapse Menu -->
<!-- 	<li class="nav-item"><a class="nav-link collapsed" href="#" -->
<!-- 		data-toggle="collapse" data-target="#collapseUtilities" -->
<!-- 		aria-expanded="true" aria-controls="collapseUtilities"> <i -->
<!-- 			class="fas fa-fw fa-wrench"></i> <span>Utilities </span> -->
<!-- 	</a> -->
<!-- 		<div id="collapseUtilities" class="collapse" -->
<!-- 			aria-labelledby="headingUtilities" data-parent="#accordionSidebar"> -->
<!-- 			<div class="bg-white py-2 collapse-inner rounded"> -->
<!-- 				<h6 class="collapse-header">Custom Utilities:</h6> -->
<!-- 				<a class="collapse-item" href="utilities-color.html">Colors </a> <a -->
<!-- 					class="collapse-item" href="utilities-border.html">Borders </a> <a -->
<!-- 					class="collapse-item" href="utilities-animation.html">Animations -->
<!-- 				</a> <a class="collapse-item" href="utilities-other.html">Other </a> -->
<!-- 			</div> -->
<!-- 		</div></li> -->
	<!-- Divider -->
<!-- 	<hr class="sidebar-divider"> -->
	<!-- Heading -->
<!-- 	<div class="sidebar-heading">Addons</div> -->
<!-- Nav Item - Pages Collapse Menu -->
<!-- 	<li class="nav-item"><a class="nav-link collapsed" href="#" -->
<!-- 		data-toggle="collapse" data-target="#collapsePages" -->
<!-- 		aria-expanded="true" aria-controls="collapsePages"> <i -->
<!-- 			class="fas fa-fw fa-folder"></i> <span>Pages </span> -->
<!-- 	</a> -->
<!-- 		<div id="collapsePages" class="collapse" -->
<!-- 			aria-labelledby="headingPages" data-parent="#accordionSidebar"> -->
<!-- 			<div class="bg-white py-2 collapse-inner rounded"> -->
<!-- 				<h6 class="collapse-header">Login Screens:</h6> -->
<!-- 				<a class="collapse-item" href="login.html">Login </a> <a -->
<!-- 					class="collapse-item" href="register.html">Register </a> <a -->
<!-- 					class="collapse-item" href="forgot-password.html">Forgot -->
<!-- 					Password </a> -->
<!-- 				<div class="collapse-divider"></div> -->
<!-- 				<h6 class="collapse-header">Other Pages:</h6> -->
<!-- 				<a class="collapse-item" href="404.html">404 Page </a> <a -->
<!-- 					class="collapse-item" href="blank.html">Blank Page </a> -->
<!-- 			</div> -->
<!-- 		</div></li> -->
	<!-- Nav Item - Charts -->
<!-- 	<li class="nav-item"><a class="nav-link" href="charts.html"> <i -->
<!-- 			class="fas fa-fw fa-chart-area"></i> <span>Charts </span> -->
<!-- 	</a></li> -->
	<!-- Divider -->
<!-- 	<hr class="sidebar-divider d-none d-md-block"> -->
	<!-- Sidebar Toggler (Sidebar) -->
<!-- 	<div class="text-center d-none d-md-inline"> -->
<!-- 		<button class="rounded-circle border-0" id="sidebarToggle"></button> -->
<!-- 	</div> -->

	<!-- FIN BARRA LATERAL PARA EL DOCENTE -->

</ul>
</html>