<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<head>
<meta charset="ISO-8859-1">
<title>Insert title here</title>
</head>
<body>
	<div th:fragment="card_table" class="card shadow mb-4">
		<div class="card-header py-3">
			<h6 class="m-0 font-weight-bold text-primary">DataTables Example</h6>
		</div>
		<div class="card-body">
			<div class="table-responsive">
				<table class="table table-bordered" id="dataTable" width="100%"
					cellspacing="0">
<!-- 					<thead> -->
<!-- 						<tr> -->
<!-- 							<th></th> -->
<!-- 						</tr> -->
<!-- 					</thead> -->
<!-- 					<tfoot> -->
<!-- 						<tr> -->
<!-- 							<th></th> -->
<!-- 						</tr> -->
<!-- 					</tfoot> -->
<!-- 					<tbody> -->
<!-- 						<tr> -->
<!-- 							<td></td> -->
<!-- 						</tr> -->
<!-- 					</tbody> -->
				</table>
			</div>
		</div>
	</div>
</body>
</html>