<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">

<!-- Confirm deletion Modal-->
<div th:fragment="delete_modal (user_id)" class="modal fade"
	id="logoutModal" tabindex="-1" role="dialog"
	aria-labelledby="exampleModalLabel" aria-hidden="true">
	<div class="modal-dialog" role="document">
		<div class="modal-content">
			<div class="modal-header">
				<h5 class="modal-title" id="exampleModalLabel">Eliminar usuario</h5>
				<button class="close" type="button" data-dismiss="modal"
					aria-label="Close">
					<span aria-hidden="true">×</span>
				</button>
			</div>
			<div class="modal-body">Confirme si desea eliminar el usuario</div>
			<div class="modal-footer">
				<!-- 				Posiblemente borrar este botón en el futuro -->
				<button class="btn btn-secondary" type="button" data-dismiss="modal">Cancelar</button>
				<a class="btn btn-primary"
					th:href="@{/admin/logout} : @{/docente/logout}">Cerrar
					Sesión</a>

			</div>
		</div>
	</div>
</div>


</html>