<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<head th:replace="fragments/header :: head(~{::title})">
<title>Planeador Académico - Perfil de Administrador</title>
</head>
<body id="page-top">
	<!-- Page Wrapper -->
	<div id="wrapper">
		<!-- Sidebar -->
		<ul
			th:replace="${session.admin_id != 0} ? ~{fragments/sidebar :: _sidebar('_admin')} : ~{fragments/sidebar :: _sidebar('_docente')}"></ul>
		<!-- Content Wrapper -->
		<div id="content-wrapper" class="d-flex flex-column">
			<!-- Main Content -->
			<div id="content">
				<!-- Topbar -->
				<nav
					th:replace="${session.admin_id != 0} ? ~{fragments/topbar :: top_bar('_admin')} : ~{fragments/topbar :: top_bar('_docente')}"></nav>
				<!-- Begin Page Content -->
				<div class="container-fluid">
					<div class="row" style="text-align: center">
						<h2>Formulario para la creación de microcurrículo</h2>
												<form action="#" th:action="@{/admin/microcurriculos/nuevo}" th:object="${microcurriculo}"
													method="post">
													<div class="form-group">
													
														<label for="nombre">Nombre</label> <input
															type="text" id="nombre"
															name="nombre" class="form-control"
															th:field="*{nombre}" />
													
														<label for="fechaRegistro">Fecha de registro</label> <input
															type="date" id="fechaRegistro" name="fechaRegistro"
															class="form-control" th:field="*{fechaRegistro}"/>
													</div>
													<div class="form-group">
														<label for="horasDirectas">Horas directas</label> <input
															type="number" id="horasDirectas" name="horasDirectas"
															class="form-control" th:field="*{horasDirectas}" />
													</div>
													<div class="form-group">
														<label for="horasIndependientes">Horas independientes</label> <input
															type="number" id="horasIndependientes"
															name="horasIndependientes" class="form-control"
															th:field="*{horasIndependientes}" />
													</div>
													<div class="form-group">
														<label for="materia">Materia</label> <select id="materia"
															name="materia" class="form-control" th:field="*{materia}">
															<option th:each="item : ${listaDeMaterias}" th:value="${item.id}"
																th:text="${item.nombre}">
														</select>
													</div>
													<button type="submit" class="btn btn-primary">Enviar</button>
												</form>
						
<!-- ESTE FORMULARIO DE AQUÍ GUARDA OBJETOS CON CAMPOS NULOS, PRESERVAR SOLAMENTE COMO REFERENCIA -->

<!-- 						<form action="#" class="user" -->
<!-- 							th:action="@{/admin/microcurriculos/nuevo}" method="post"> -->
<!-- 							<div class="form-group"> -->
<!-- 								<label for="tipo">Tipo de Curso</label> <select id="tipoCurso" -->
<!-- 									name="tipoCurso" class="form-control"> -->
<!-- 									<option value="Práctico">PRACTICO</option> -->
<!-- 									<option value="Teórico">TEORICO</option> -->
<!-- 								</select> -->
<!-- 							</div> -->
<!-- 							<div class="form-group"> -->
<!-- 								<label for="horasDirectas">Horas directas</label> <input -->
<!-- 									type="number" id="horasDirectas" name="horasDirectas" -->
<!-- 									class="form-control" /> -->
<!-- 							</div> -->

<!-- 							<div class="form-group"> -->
<!-- 								<label for="horasIndependientes">Horas independientes</label> <input -->
<!-- 									type="number" id="horasIndependientes" -->
<!-- 									name="horasIndependientes" class="form-control" /> -->
<!-- 							</div> -->

<!-- 							<div class="form-group"> -->
<!-- 								<label for="materia">Materia</label> <select id="materia" -->
<!-- 									name="materia" class="form-control"> -->
<!-- 									<option th:each="item : ${listaDeMaterias}" -->
<!-- 										th:value="${item.id}"></option> -->
<!-- 								</select> -->
<!-- 							</div> -->
<!-- 					<button type="submit" class="btn btn-info px-5 mb-5 w-100">Registrar</button> -->
<!-- 					</form> -->

				</div>
			</div>
		</div>
	</div>
	</div>
	<!-- Scroll to Top Button-->
	<a class="scroll-to-top rounded" href="#page-top"> <i
		class="fas fa-angle-up"></i>
	</a>
	<!-- Logout Modal-->
	<div
		th:replace="${session.admin_id != 0} ? ~{fragments/topbar :: logout_modal('_admin')} : ~{fragments/topbar :: logout_modal('_docente')}"></div>
</body>
</html>