<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">

<head th:replace="fragments/header :: head(~{::title})">
<title>Planeador Académico - Lista de Microcurrículos</title>
</head>

<body id="page-top">

	<!-- Page Wrapper -->
	<div id="wrapper">

		<ul
			th:replace="${session.admin_id != null} ? ~{fragments/sidebar :: _sidebar(_admin)} : ~{fragments/sidebar :: _sidebar(_docente)}">
		</ul>

		<!-- Content Wrapper -->
		<div id="content-wrapper" class="d-flex flex-column">

			<!-- Main Content -->
			<div id="content">


				<!-- Topbar -->
				<nav
					th:replace="${session.admin_id != null} ? ~{fragments/topbar :: top_bar(_admin)} : ~{fragments/topbar :: top_bar(_docente)}">
				</nav>

				<div th:if="${msjAprobacion != null}"
					class="alert alert-primary alert-dismissible fade show"
					role="alert">
					<label th:text="${msjRechazo}"></label>
					<button type="button" class="close" data-dismiss="alert"
						aria-label="Close">
						<span aria-hidden="true">&times;</span>
					</button>
				</div>

				<div th:if="${msjRechazo != null}"
					class="alert alert-primary alert-dismissible fade show"
					role="alert">
					<label th:text="${msjRechazo}"></label>
					<button type="button" class="close" data-dismiss="alert"
						aria-label="Close">
						<span aria-hidden="true">&times;</span>
					</button>
				</div>


				<div class="container-fluid">

					<div class="row">

						<div class="col-md-12" style="text-align: center;">



							<div class="card shadow mb-4">
								<div class="card-header py-3">
									<h6 class="m-0 font-weight-bold text-primary">Solicitudes
										de admisión</h6>
								</div>

								<div class="card-body">

									<div class="alert alert-info" th:if="${paginaDeSolicitudes == null || paginaDeSolicitudes.isEmpty()}">
										<label>No se han reportado solicitudes de registro
											nuevas recientemente.</label>
									</div>

									<div class="table-responsive" th:unless="${paginaDeSolicitudes == null || paginaDeSolicitudes.isEmpty()}">
										<!-- Utiliza un Map y una lista de campos para dibujar todos los campos de la tabla solicitada -->
										<!-- Referirse a AdministradorControlador para más detalles. -->
										<table class="table table-bordered" id="dataTable"
											width="100%" cellspacing="0">
											<thead>

												<tr>
													<th>Nombre</th>
													<th>Email</th>
													<th>Acción</th>
												</tr>
											</thead>
											<tbody>
												<tr th:each="solicitud: ${paginaDeSolicitudes}">
												<td th:text="${solicitud.nombre}"></td>
												<td th:text="${solicitud.email}"></td>											
													<td>
														<!-- Evalúa condicionalmente el valor de uno de los headers para dibujar una celda de forma diferente -->
														<!-- En este caso, para crear botones interactivos con las acciones de aprobar o rechazar solicitudes de registro del docente -->
														<a class="btn btn-primary" th:href="@{/admin/solicitudes/aprobar/{id}(id=${solicitud.id})}"
														onclick="return confirm('Confirme que desea proceder a aceptar esta solicitud');">Aprobar</a>

														<a class="btn btn-danger" th:href="@{/admin/solicitudes/rechazar/{id}(id=${solicitud.id})}"
														onclick="return confirm('Confirme que desea proceder a rechazar esta solicitud');">Rechazar</a>										
													</td>
												</tr>
											</tbody>
										</table>
										
																		<nav aria-label="Page navigation">
									<ul class="pagination justify-content-center">
<!-- 									Desactiva el elemento clickeable si ya se encuentra parado en la primera página -->
										<li class="page-item"
											th:classappend="${paginaDeSolicitudes.first} ? disabled"><a
											class="page-link"
											th:href="@{/admin/solicitudes(nroDeElementos=${paginaDeSolicitudes.size}, pagina=1)}"
											tabindex="-1">Primera</a></li>
<!-- 											Desactiva condicionalmente el elemento clickeable si la Page devuelta se encuentra en la primera página -->
										<li class="page-item"
											th:classappend="${paginaDeSolicitudes.hasPrevious() == false} ? disabled">
											<a class="page-link"
											th:href="@{/admin/solicitudes(nroDeElementos=${paginaDeSolicitudes.size}, pagina=${paginaDeSolicitudes.number})}"
											tabindex="-1">Anterior</a>
										</li>
<!-- 										Utiliza una secuencia para dibujar la cantidad de páginas necesarias para mostrar todos los registros, de -->
<!-- 										acuerdo con el objeto Page -->
<!-- 											NOTA: Page utiliza un numerado interno de 0 a n-1 incluso si el Pager utiliza n. de página de 1 a n-->
										<li class="page-item"
											th:each="numeroDePagina : ${#numbers.sequence(1,totalDePaginas)}"
											th:classappend="${numeroDePagina == paginaDeSolicitudes.number + 1} ? active">
											<a class="page-link"
											th:href="@{/admin/solicitudes(nroDeElementos=${paginaDeSolicitudes.size}, pagina=${numeroDePagina})}"
											th:text="${numeroDePagina}">1</a>
										</li>
<!-- 										El atributo pagina aquí sería el equivalente a saltar a la posición n+1 dentro de este objeto Page -->
										<li class="page-item"
											th:classappend="${paginaDeSolicitudes.hasNext() == false} ? disabled"><a
											class="page-link"
											th:href="@{/admin/solicitudes(nroDeElementos=${paginaDeSolicitudes.size}, pagina=${paginaDeSolicitudes.number + 2})}">Siguiente</a>
										</li>
										<li class="page-item" th:classappend="${paginaDeSolicitudes.last} ? disabled">
											<a class="page-link"
											th:href="@{/admin/solicitudes(nroDeElementos=${paginaDeSolicitudes.size}, pagina=${paginaDeSolicitudes.totalPages})}">Última</a>
										</li>
									</ul>
								</nav>
										
									</div>
								</div>
							</div>
						</div>
					</div>

				</div>
			</div>
		</div>
	</div>

	<!-- Scroll to Top Button-->
	<a class="scroll-to-top rounded" href="#page-top"> <i
		class="fas fa-angle-up"></i>
	</a>

	<div
		th:replace="${session.admin_id != 0} ? ~{fragments/topbar :: logout_modal('_admin')} : ~{fragments/topbar :: logout_modal('_docente')}">
	</div>
</body>

<!-- NOTA: Se conserva esta tabla como referencia, pero ya no es necesaria -->
<!-- 									<div class="table-responsive"> -->
<!-- 										Utiliza un Map y una lista de campos para dibujar todos los campos de la tabla solicitada -->
<!-- 										Referirse a AdministradorControlador para más detalles. -->
<!-- 										<table class="table table-bordered" id="dataTable" -->
<!-- 											width="100%" cellspacing="0"> -->
<!-- 											<thead> -->

<!-- 												<tr> -->
<!-- 													<th th:each="header: ${headers}" th:text="${header}"></th> -->
<!-- 												</tr> -->
<!-- 											</thead> -->
<!-- 											<tbody> -->
<!-- 												<tr th:each="row: ${rows}"> -->
<!-- 													<td th:each="header: ${headers}"> -->
<!-- 														Evalúa condicionalmente el valor de uno de los headers para dibujar una celda de forma diferente -->
<!-- 														En este caso, para crear botones interactivos con las acciones de aprobar o rechazar solicitudes de registro del docente -->
<!-- 														<a class="btn btn-primary" -->
<!-- 														th:if="${header == 'Aprobación'}" -->
<!-- 														th:href="@{/admin/aprobar/{id}(id=${row.get('Aprobación')})}">Aprobar</a> -->

<!-- 														<a class="btn btn-danger" -->
<!-- 														th:if="${header == 'Aprobación'}" -->
<!-- 														th:href="@{/admin/rechazar/{id}(id=${row.get('Aprobación')})}" -->
<!-- 														onclick="return confirm('Confirme que desea proceder a rechazar esta solicitud');">Rechazar</a> -->

<!-- 														<span th:if="${header != 'Aprobación'}" -->
<!-- 														th:text="${row.get(header)}"></span> -->
<!-- 													</td> -->
<!-- 												</tr> -->
<!-- 											</tbody> -->
<!-- 										</table> -->
<!-- 									</div> -->

</html>